*{
    margin: 0;
    font-family: 'Fascinate', cursive;
    /* https://fonts.google.com/specimen/Sarpanch */
    font-family: 'Open Sans', sans-serif;
    /* Colors Black and Red https://colorhunt.co/palette/158462 */
}

/* Header */
header{
    background-color: #FFD3DA;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
header, footer {
    background-color: #AB0E22;
    color: white;
}
#logoTitles{
    display: flex; 
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
}
.logo{
    font-family: 'Fascinate', cursive;
}


/* Background color*/
main{
    background-color: #faf7f7;
    background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");

}


/* Profile */
.profileSection{  
    padding-top: 4rem;
}
#profile{
    filter: brightness(110%);
    width: 25%;
    height: auto;
    margin-top: 4rem;
    transform: rotate(-2deg);
    display: block;
    margin: 0 auto;
}
@media screen and (max-width: 1000px) {
    #profile {
        width: 35%;
    }
}


h1{
    font-family: 'Michroma', sans-serif;
    color: #ED1D38;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 3rem;
    margin-top: 10px;
    text-align: center;
}
h2{
    font-family: 'Michroma', sans-serif;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 50px;
}
@media screen and (max-width: 1000px) {
    h1 {
        font-size: 2rem;
    }
}
p{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
}



.text{
    margin-left: 2rem;
    margin-right: 2rem;
    max-width: 1000px;

    margin-top: 1rem;
    margin-bottom: 1rem;
}
#one{
    background: white;
    padding: 1rem;
    display: block;
    margin: 0 auto;
}
@media screen and (max-width: 1000px) {
    #one {
        max-width: 700px;
    }
}

#Git{
    border-color: #AB0E22;
    transform: rotate(-10deg);
    position: relative;
    z-index: 1;
    bottom: 10rem;
    margin-top: 10rem;
    text-align: center;
}
@media screen and (max-width: 1800px) {
    #Git {
        margin-top: 8rem;
        bottom: 6rem;
    }
}
@media screen and (max-width: 1300px) {
    #Git {
        margin-top: 6rem;
        bottom: 4rem;
    }
}
.GitHub{
    font-family: 'Michroma', sans-serif;
    color: #AB0E22;
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid #AB0E22;
    transition: 0.1s;
}
@media screen and (max-width: 1300px) {
    .GitHub {
        font-size: 1.5rem;
    }
}
.GitHub:hover{
    background-color: #AB0E22;
    color: white;
}


/* WORK */
section {
    margin: 0 auto;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    justify-content: center;
    margin-top: 5rem;
    padding-bottom: 13rem;
}

.work img {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: auto;
    transition: 0.15s;
}

.work img:hover {
    transition-timing-function: ease-in;
    transform: scale(1.1);
}


/* footer */
footer {
    position: sticky;
    top: 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
footer p {
    margin-left: 2rem;
    text-align: center;
}